<div class="order {% if _order.order_number == order.order_number %}is-expanded{% endif %}">
  <div class="order__head">
    <ul class="order-list">
      <li class="order-list__number">
        <h3>
          {{- 'customer.orders.order_number' | t -}}
        </h3>

        <p>
          {{- order.name -}}
        </p>
      </li>

      <li class="order-list__payment">
        <h3>
          {{- 'customer.orders.payment_status' | t -}}
        </h3>

        <p>
          {{- order.financial_status_label -}}
        </p>
      </li>

      <li class="order-list__total">
        <h3>
          {{- 'customer.orders.total' | t -}}
        </h3>

        <p>
          {% if order.metafields.flow_order != blank %}
            {{ order.metafields.flow_order.total }}
          {% else %}
            {{- order.total_price | money_without_trailing_zeros -}}
          {% endif %}
        </p>
      </li>

      <li class="order-list__date">
        <h3>
          {{- 'customer.orders.date' | t -}}
        </h3>

        <p>
          {{- order.created_at | date: '%m/%d/%y' -}}
        </p>
      </li>

      <li class="order-list__fulfillment">
        <h3>
          {{- 'customer.orders.fulfillment_status' | t -}}
        </h3>

        <p>
          {{- order.fulfillment_status_label -}}
        </p>
      </li>
    </ul>

    <a href="#" class="order__toggle" data-open="{{- 'customer.orders.view' | t -}}" data-close="{{- 'customer.orders.close' | t -}}">
      <span>{{- 'customer.orders.view' | t -}}</span>
    </a>
  </div><!-- /.order__head -->

  <div class="order__body" {% unless _order.order_number == order.order_number %}style="display: none;"{% endunless %}>
    <div class="order-items">
      {% for line_item in order.line_items %}
        <div class="order-item">
          <div class="order-item__image">
            <a href="{{- line_item.url -}}" style="background-image: url({{- line_item.image | img_url: '200x' -}})">
            </a>

            <span class="order-item__title hidden-xs">
              <a href="{{- line_item.url -}}">
                {{- line_item.product.title -}}
              </a>
            </span>
          </div><!-- /.order-item__image -->

          <div class="order-item__content">
            <div class="order-item__inner">
              <span class="order-item__title visible-xs-block">
                <a href="{{- line_item.url -}}">
                  {{- line_item.product.title -}}
                </a>
              </span>

              <div class="order-item__aside">
                {%- if line_item.variant.options.size > 0 -%}
                  <div class="order-item__entry entry-small entry-small--primary">
                    {%- for variant_option in line_item.variant.options -%}
                      {% unless variant_option contains 'Default' %}
                        {%- assign option_title = '' -%}
                        {%- assign variant_index = forloop.index0 -%}

                        {% for option in line_item.product.options %}
                          {%- if variant_index == forloop.index0 -%}
                            {%- assign option_title = option -%}
                          {%- endif -%}
                        {% endfor %}

                        <p><span>{{ option_title }}</span> {{ variant_option }}</p>
                      {% endunless %}
                    {%- endfor -%}

                    <p>
                      <span>{{- 'customer.order.quantity' | t -}}</span> {{ line_item.quantity }}
                    </p>
                  </div><!-- /.{{ class_name }} -->
                {%- endif -%}
              </div><!-- /.order-item__aside -->
            </div><!-- /.order-item__inner -->

            <div class="order-item__price">
              {% if order.metafields.flow_order != blank %}
                {{ line_item.properties.flow_line_total }}
              {% else %}
                {{- line_item.line_price | money_without_trailing_zeros -}}
              {% endif %}
            </div><!-- /.order-item__price -->
          </div><!-- /.order-item__content -->
        </div><!-- /.order-item -->
      {% endfor %}
    </div><!-- /.order__items -->

    <div class="order__total">
      <div class="order__total-inner">
        <ul class="order-details">
          <li class="order-details__subtotal">
            <p class="order-details__title">
              {{- 'customer.order.subtotal' | t -}}
            </p>

            <p class="order-details__value">
              {% if order.metafields.flow_order != blank %}
                {{ order.metafields.flow_order.subtotal }}
              {% else %}
                {{- order.subtotal_price | money_without_trailing_zeros -}}
              {% endif %}
            </p>
          </li>

          {% for discount in order.discounts %}
            <li class="order-details__discount">
              <p class="order-details__title">
                {{ discount.code }} {{ 'customer.order.discount' | t }}
              </p>

              <p class="order-details__value">
                {% if order.metafields.flow_order != blank %}
                  {{ order.metafields.flow_order.discount }}
                {% else %}
                  {{- discount.savings | money_without_trailing_zeros -}}
                {% endif %}
              </p>
            </li>
          {% endfor %}

          {% for shipping_method in order.shipping_methods %}
            <li class="order-details__shipping">
              <p class="order-details__title">
                {{ 'customer.order.shipping' | t }} ({{- shipping_method.title -}})
              </p>

              <p class="order-details__value">
                {% if order.metafields.flow_order != blank %}
                  {{ order.metafields.flow_order.shipping }}
                {% else %}
                  {{- shipping_method.price | money_without_trailing_zeros -}}
                {% endif %}
              </p>
            </li>
          {% endfor %}

          {% for tax_line in order.tax_lines %}
            <li class="order-details__tax">
              <p class="order-details__title">
                {{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)
              </p>

              <p class="order-details__value">
                {% if order.metafields.flow_order != blank %}
                  {% if order.metafields.flow_order.vat and tax_line.title == 'HST' or tax_line.title == 'GST' or tax_line.title == 'VAT' %}
                     {{ order.metafields.flow_order.vat }}
                  {% endif %}
                  {% if order.metafields.flow_order.duty and tax_line.title == 'Duty' %}
                    {{ order.metafields.flow_order.duty }}
                  {% endif %}
                {% else %}
                  {{- tax_line.price | money_without_trailing_zeros -}}
                {% endif %}
              </p>
            </li>
          {% endfor %}

          <li class="order-details__total">
            <p class="order-details__title">
              {{- 'customer.order.total' | t -}}
            </p>

            <p class="order-details__value">
              {% if order.metafields.flow_order != blank %}
                {{ order.metafields.flow_order.total }}
              {% else %}
                {{- order.total_price | money_without_trailing_zeros -}}
              {% endif %}
            </p>
          </li>
        </ul>
      </div><!-- /.order__total-inner -->
    </div><!-- /.order__total -->

    <div class="order__info">
      <ul class="order-list">
        <li>
          <h3>
            {{- 'customer.order.billing_address' | t -}}
          </h3>

          <p>
            {{- order.billing_address | format_address -}}
          </p>
        </li>

        <li>
          <h3>
            {{- 'customer.order.shipping_address' | t -}}
          </h3>

          <p>
            {{- order.shipping_address | format_address -}}
          </p>
        </li>
      </ul>
    </div><!-- /.order__info -->
  </div><!-- /.order__body -->
</div><!-- /.order -->
